
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th><h2>Name</h2></th>
        <th><h2>Delete</h2></th>
      </thead>
      <% @lists.each do |list| %>
            <tr>
              <td class="col-md-6"><h1><%= link_to list.name, lists_view_path(:list_id => list.id), :class => 'btn btn-block btn-success btn-lg'%></h1></td>
              <td class="col-md-2"><%=link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs pull-right'%></td>
            </tr>
      <%end unless @lists.blank?%>
    </table>
  </div>
</div>
  <%= link_to 'New List', lists_new_path, :class => 'btn btn-block btn-primary'%>


